In [1]:
import numpy as np
import pandas as pd

# from sudo_solo import creat_table,change_num_list,input_table

## 1.0建立棋盘

In [2]:
sudoku_df=pd.DataFrame()

In [3]:
row_list=[]
for i in range(1,10):
    row_list+=range(1,10)
    
col_list=[]
for i in range(1,10):
    col_list+=[i,i,i,i,i,i,i,i,i]

sudoku_df['row_num']=row_list
sudoku_df['col_num']=col_list

In [4]:

sudoku_df['group_key']='nothing'

sudoku_df['num_real']=0

In [5]:
group_keys=['a','a','a','b','b','b','c','c','c',
            'a','a','a','b','b','b','c','c','c',
            'a','a','a','b','b','b','c','c','c',
            'd','d','d','e','e','e','f','f','f',
            'd','d','d','e','e','e','f','f','f',
            'd','d','d','e','e','e','f','f','f',
            'g','g','g','h','h','h','i','i','i',
            'g','g','g','h','h','h','i','i','i',
            'g','g','g','h','h','h','i','i','i',
]

sudoku_df['group_key']=group_keys

In [6]:
col_0_to_9=['num_01','num_02','num_03','num_04','num_05',
              'num_06','num_07','num_08','num_09']

for num in col_0_to_9:
    sudoku_df[num]=1

In [7]:
sudoku_df[sudoku_df['num_real']!=0]

Empty DataFrame
Columns: [row_num, col_num, group_key, num_real, num_01, num_02, num_03, num_04, num_05, num_06, num_07, num_08, num_09]
Index: []

## 2.0棋盘录入开局信息

In [8]:
# 检查同一row的是否有相同的数

def reset_mutex_blog(index_num,num):
    #检查每一row/col/group
    row_num=int(sudoku_df.loc[index_num,'row_num'])
    col_num=int(sudoku_df.loc[index_num,'col_num'])
    group_key=str(sudoku_df.loc[index_num,'group_key'])
    index_list=sudoku_df[(sudoku_df['row_num']==row_num)|
                         (sudoku_df['col_num']==col_num)|
                         (sudoku_df['group_key'].str.contains(group_key))].index
    index_list=index_list.tolist()
    print('以下要更新index为：'+str(index_list))   
    
    #检查详细的每个区块
    num_chose='num_0'+str(num)
    sudoku_df.loc[index_list,num_chose]=0
    sudoku_df.loc[index_num,num_chose]=1

In [9]:
# 将信息录入到棋盘df中
def input_start_blog(row,col,num):  
    
    index_num=sudoku_df[(sudoku_df['row_num']==row)&(sudoku_df['col_num']==col)].index    
    sudoku_df.loc[index_num,'num_real']=num
    
    #将信息录入df['num_01~09']中
  
    sudoku_df.loc[index_num,col_0_to_9]=0
    num_chose='num_0'+str(num)
    sudoku_df.loc[index_num,num_chose]=1   
    
    
    print(sudoku_df.loc[index_num])

In [10]:
# 录入数独数据
start_nums=[
    1,2,8,
    1,6,7,
    1,9,6,
    2,2,3,
    2,3,9,
    2,4,2,
    2,6,8,
    3,1,4,
    3,4,1,
    3,5,3,
    4,1,9,
    4,3,5,
    4,9,4,
    5,3,3,
    6,1,6,
    6,2,2,
    6,6,5,
    7,1,8,
    7,3,1,
    7,6,6,
    7,7,2,
    8,4,5,
    9,2,6,
    9,4,3,
    9,7,8   
    
]

In [11]:
start_nums_row=start_nums[::3]
start_nums_col=start_nums[1::3]
start_nums_realnum=start_nums[2::3]
start_nums_realnum

[8, 7, 6, 3, 9, 2, 8, 4, 1, 3, 9, 5, 4, 3, 6, 2, 5, 8, 1, 6, 2, 5, 6, 3, 8]

In [12]:
st_num=0
while st_num<len(start_nums):
    input_start_blog(start_nums[st_num],start_nums[st_num+1],start_nums[st_num+2])
    st_num+=3

   row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
9        1        2         a         8       0       0       0       0

   num_05  num_06  num_07  num_08  num_09
9       0       0       0       1       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
45        1        6         d         7       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
45       0       0       1       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
72        1        9         g         6       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
72       0       1       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
10        2        2         a         3       0       0       1       0

    num_05  num_06  num_07  num_08  num_09
10       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
19        2        3         a         9       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
19       0       0       0       0       1
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
28        2        4         d         2       0       1       0       0

    num_05  num_06  num_07  num_08  num_09
28       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
46        2        6         d         8       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
46       0       0       0       1       0
   row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
2        3        1         a         4       0       0       0       1

   num_05  num_06  num_07  num_08  num_09
2       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
29        3        4         d         1       1       0       0       0

    num_05  num_06  num_07  num_08  num_09
29       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
38        3        5         d         3       0       0       1       0

    num_05  num_06  num_07  num_08  num_09
38       0       0       0       0       0
   row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
3        4        1         b         9       0       0       0       0

   num_05  num_06  num_07  num_08  num_09
3       0       0       0       0       1
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
21        4        3         b         5       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
21       1       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
75        4        9         h         4       0       0       0       1

    num_05  num_06  num_07  num_08  num_09
75       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
22        5        3         b         3       0       0       1       0

    num_05  num_06  num_07  num_08  num_09
22       0       0       0       0       0
   row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
5        6        1         b         6       0       0       0       0

   num_05  num_06  num_07  num_08  num_09
5       0       1       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
14        6        2         b         2       0       1       0       0

    num_05  num_06  num_07  num_08  num_09
14       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
50        6        6         e         5       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
50       1       0       0       0       0
   row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
6        7        1         c         8       0       0       0       0

   num_05  num_06  num_07  num_08  num_09
6       0       0       0       1       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
24        7        3         c         1       1       0       0       0

    num_05  num_06  num_07  num_08  num_09
24       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
51        7        6         f         6       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
51       0       1       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
60        7        7         i         2       0       1       0       0

    num_05  num_06  num_07  num_08  num_09
60       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
34        8        4         f         5       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
34       1       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
17        9        2         c         6       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
17       0       1       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
35        9        4         f         3       0       0       1       0

    num_05  num_06  num_07  num_08  num_09
35       0       0       0       0       0
    row_num  col_num group_key  num_real  num_01  num_02  num_03  num_04  \
62        9        7         i         8       0       0       0       0

    num_05  num_06  num_07  num_08  num_09
62       0       0       0       1       0

In [13]:
index_list=sudoku_df[sudoku_df['num_real']!=0].index
for index in index_list:
    reset_mutex_blog(index,sudoku_df.loc[index,'num_real'])

以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 18, 19, 20, 29, 38, 47, 56, 65, 74]
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 21, 22, 23, 30, 39, 48, 57, 66, 75]
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 21, 22, 23, 32, 41, 50, 59, 68, 77]
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 15, 16, 17, 24, 25, 26, 33, 42, 51, 60, 69, 78]
以下要更新index为：[0, 1, 2, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 27, 36, 45, 54, 63, 72]
以下要更新index为：[0, 1, 2, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 28, 37, 46, 55, 64, 73]
以下要更新index为：[3, 4, 5, 9, 10, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 32, 41, 50, 59, 68, 77]
以下要更新index为：[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 24, 25, 26, 35, 44, 53, 62, 71, 80]
以下要更新index为：[0, 1, 2, 9, 10, 11, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 37, 46, 55, 64, 73]
以下要更新index为：[3, 4, 5, 12, 13, 14, 18, 19, 20, 21, 22, 23, 24, 25, 26, 30, 39, 48, 57, 66, 75]
以下要更新index为：[3, 4, 5, 12, 13, 14, 18, 19, 20, 21, 22, 23, 24, 25, 26, 31, 40, 49, 58, 67, 76]
以下要更新index为：[6, 7, 8, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 33, 42, 51, 60, 69, 78]
以下要更新index为：[1, 10, 19, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 45, 46, 47, 55, 64, 73]
以下要更新index为：[2, 11, 20, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 45, 46, 47, 56, 65, 74]
以下要更新index为：[7, 16, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 42, 43, 44, 51, 52, 53, 61, 70, 79]
以下要更新index为：[8, 17, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 42, 43, 44, 51, 52, 53, 62, 71, 80]
以下要更新index为：[2, 11, 20, 27, 28, 29, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 56, 65, 74]
以下要更新index为：[0, 9, 18, 27, 28, 29, 36, 37, 38, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 63, 72]
以下要更新index为：[1, 10, 19, 27, 28, 29, 36, 37, 38, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 64, 73]
以下要更新index为：[5, 14, 23, 30, 31, 32, 39, 40, 41, 45, 46, 47, 48, 49, 50, 51, 52, 53, 59, 68, 77]
以下要更新index为：[6, 15, 24, 33, 34, 35, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 60, 69, 78]
以下要更新index为：[6, 15, 24, 33, 42, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 69, 70, 71, 78, 79, 80]
以下要更新index为：[8, 17, 26, 35, 44, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 69, 70, 71, 78, 79, 80]
以下要更新index为：[0, 9, 18, 27, 36, 45, 54, 55, 56, 63, 64, 65, 72, 73, 74, 75, 76, 77, 78, 79, 80]
以下要更新index为：[3, 12, 21, 30, 39, 48, 57, 58, 59, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 79, 80]

## 3.0   更新棋盘信息

In [14]:
# check_index=sudoku_df[sudoku_df['num_real']!=0]

## 4.0 检查并更新num_real

In [15]:
#找到需要更新的blog
def reset_blog():
    print('now start to check')
    reset_df=sudoku_df[(sudoku_df[col_0_to_9].sum(axis=1)==1)&(sudoku_df['num_real']==0)]
    for index in reset_df.index.tolist():
        for num in col_0_to_9:
            if reset_df.loc[index,num]==1:
                num=int(num.replace('num_0',''))
                sudoku_df.loc[index,'num_real']=num
                #检查和此格互斥行和列
                reset_mutex_blog(index,num)
 
                
def re_check():
    reset_index=sudoku_df[(sudoku_df[col_0_to_9].sum(axis=1)==1)&(sudoku_df['num_real']==0)].index
    while len(reset_index)>0:
        print('now to re_check')
        reset_blog()
        reset_index=sudoku_df[(sudoku_df[col_0_to_9].sum(axis=1)==1)&(sudoku_df['num_real']==0)].index

In [16]:
re_check()

now to re_check
now start to check
以下要更新index为：[0, 1, 2, 9, 10, 11, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 36, 45, 54, 63, 72]
以下要更新index为：[2, 11, 20, 27, 28, 29, 36, 37, 38, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 65, 74]
now to re_check
now start to check
以下要更新index为：[0, 9, 18, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 45, 46, 47, 54, 63, 72]
now to re_check
now start to check
以下要更新index为：[0, 9, 18, 27, 28, 29, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 54, 63, 72]
now to re_check
now start to check
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 18, 19, 20, 27, 36, 45, 54, 63, 72]
以下要更新index为：[1, 10, 19, 27, 28, 29, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 55, 64, 73]
now to re_check
now start to check
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 21, 22, 23, 31, 40, 49, 58, 67, 76]
now to re_check
now start to check
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 18, 19, 20, 28, 37, 46, 55, 64, 73]
以下要更新index为：[3, 4, 5, 9, 10, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 30, 39, 48, 57, 66, 75]
now to re_check
now start to check
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 15, 16, 17, 24, 25, 26, 35, 44, 53, 62, 71, 80]
以下要更新index为：[0, 1, 2, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 29, 38, 47, 56, 65, 74]
以下要更新index为：[3, 4, 5, 9, 10, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 31, 40, 49, 58, 67, 76]
now to re_check
now start to check
以下要更新index为：[0, 1, 2, 3, 4, 5, 6, 7, 8, 15, 16, 17, 24, 25, 26, 34, 43, 52, 61, 70, 79]
以下要更新index为：[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 24, 25, 26, 34, 43, 52, 61, 70, 79]
以下要更新index为：[0, 1, 2, 9, 10, 11, 18, 19, 20, 21, 22, 23, 24, 25, 26, 29, 38, 47, 56, 65, 74]
以下要更新index为：[3, 4, 5, 12, 13, 14, 18, 19, 20, 21, 22, 23, 24, 25, 26, 32, 41, 50, 59, 68, 77]
以下要更新index为：[2, 11, 20, 29, 38, 47, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 72, 73, 74]
now to re_check
now start to check
以下要更新index为：[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 24, 25, 26, 33, 42, 51, 60, 69, 78]

In [17]:
reset_blog()

now start to check

In [18]:
sudoku_df[(sudoku_df['num_real']!=0)]

,row_num,col_num,group_key,num_real,num_01,num_02,num_03,num_04,num_05,num_06,num_07,num_08,num_09
0,1,1,a,1,1,0,0,0,0,0,0,0,0
1,2,1,a,5,0,0,0,0,1,0,0,0,0
2,3,1,a,4,0,0,0,1,0,0,0,0,0
3,4,1,b,9,0,0,0,0,0,0,0,0,1
4,5,1,b,7,0,0,0,0,0,0,1,0,0
5,6,1,b,6,0,0,0,0,0,1,0,0,0
6,7,1,c,8,0,0,0,0,0,0,0,1,0
7,8,1,c,3,0,0,1,0,0,0,0,0,0
8,9,1,c,2,0,1,0,0,0,0,0,0,0
9,1,2,a,8,0,0,0,0,0,0,0,1,0
10,2,2,a,3,0,0,1,0,0,0,0,0,0
11,3,2,a,7,0,0,0,0,0,0,1,0,0
12,4,2,b,1,1,0,0,0,0,0,0,0,0
13,5,2,b,4,0,0,0,1,0,0,0,0,0
14,6,2,b,2,0,1,0,0,0,0,0,0,0
15,7,2,c,5,0,0,0,0,1,0,0,0,0
16,8,2,c,9,0,0,0,0,0,0,0,0,1
17,9,2,c,6,0,0,0,0,0,1,0,0,0
18,1,3,a,2,0,1,0,0,0,0,0,0,0
19,2,3,a,9,0,0,0,0,0,0,0,0,1
20,3,3,a,6,0,0,0,0,0,1,0,0,0
21,4,3,b,5,0,0,0,0,1,0,0,0,0
22,5,3,b,3,0,0,1,0,0,0,0,0,0
23,6,3,b,8,0,0,0,0,0,0,0,1,0
24,7,3,c,1,1,0,0,0,0,0,0,0,0
27,1,4,d,4,0,0,0,1,0,0,0,0,0
28,2,4,d,2,0,1,0,0,0,0,0,0,0
29,3,4,d,1,1,0,0,0,0,0,0,0,0
34,8,4,f,5,0,0,0,0,1,0,0,0,0
35,9,4,f,3,0,0,1,0,0,0,0,0,0
36,1,5,d,5,0,0,0,0,1,0,0,0,0
37,2,5,d,6,0,0,0,0,0,1,0,0,0
38,3,5,d,3,0,0,1,0,0,0,0,0,0
45,1,6,d,7,0,0,0,0,0,0,1,0,0
46,2,6,d,8,0,0,0,0,0,0,0,1,0
47,3,6,d,9,0,0,0,0,0,0,0,0,1
50,6,6,e,5,0,0,0,0,1,0,0,0,0
51,7,6,f,6,0,0,0,0,0,1,0,0,0
56,3,7,g,5,0,0,0,0,1,0,0,0,0
60,7,7,i,2,0,1,0,0,0,0,0,0,0
62,9,7,i,8,0,0,0,0,0,0,0,1,0
72,1,9,g,6,0,0,0,0,0,1,0,0,0
75,4,9,h,4,0,0,0,1,0,0,0,0,0

In [19]:
# 展示棋盘信息
def show_table():
    mid_table=pd.pivot(sudoku_df,values='num_real',index=['row_num','group_key'],columns=['col_num'])
    return mid_table.fillna('')

In [20]:
show_table()

col_num            1  2  3  4  5  6  7  8  9
row_num group_key
1       a          1  8  2
        d                   4  5  7
        g                            0  0  6
2       a          5  3  9
        d                   2  6  8
        g                            0  0  0
3       a          4  7  6
        d                   1  3  9
        g                            5  0  0
4       b          9  1  5
        e                   0  0  0
        h                            0  0  4
5       b          7  4  3
        e                   0  0  0
        h                            0  0  0
6       b          6  2  8
        e                   0  0  5
        h                            0  0  0
7       c          8  5  1
        f                   0  0  6
        i                            2  0  0
8       c          3  9  0
        f                   5  0  0
        i                            0  0  0
9       c          2  6  0
        f                   3  0  0
        i                            8  0  0

## 4.0 找到成对的blog

In [21]:
two_num_df=sudoku_df[(sudoku_df[col_0_to_9].sum(axis=1)==2)&(sudoku_df['num_real']==0)][col_0_to_9]

two_num_df

    num_01  num_02  num_03  num_04  num_05  num_06  num_07  num_08  num_09
25       0       0       0       1       0       0       1       0       0
26       0       0       0       1       0       0       1       0       0
32       0       0       0       0       0       0       1       0       1
33       0       0       0       0       0       0       1       0       1
48       0       1       1       0       0       0       0       0       0
49       1       1       0       0       0       0       0       0       0
53       1       0       0       1       0       0       0       0       0
54       0       0       1       0       0       0       0       0       1
63       0       0       1       0       0       0       0       0       1
65       0       1       0       0       0       0       0       1       0
73       1       0       0       0       0       0       1       0       0
74       0       1       0       0       0       0       0       1       0
79       1       0       0       0       0       0       1       0       0

In [22]:
#找到具有twins特征的df
two_num_df_index=two_num_df.index
twins_df=sudoku_df.loc[two_num_df_index,]
twins_df['index_no']=twins_df.index
twins_df
# twins_df=two_num_df[pd.DataFrame.duplicated(two_num_df,subset=col_0_to_9,keep=False)]
# twins_df

,row_num,col_num,group_key,num_real,num_01,num_02,num_03,num_04,num_05,num_06,num_07,num_08,num_09,index_no
25,8,3,c,0,0,0,0,1,0,0,1,0,0,25
26,9,3,c,0,0,0,0,1,0,0,1,0,0,26
32,6,4,e,0,0,0,0,0,0,0,1,0,1,32
33,7,4,f,0,0,0,0,0,0,0,1,0,1,33
48,4,6,e,0,0,1,1,0,0,0,0,0,0,48
49,5,6,e,0,1,1,0,0,0,0,0,0,0,49
53,9,6,f,0,1,0,0,1,0,0,0,0,0,53
54,1,7,g,0,0,0,1,0,0,0,0,0,1,54
63,1,8,g,0,0,0,1,0,0,0,0,0,1,63
65,3,8,g,0,0,1,0,0,0,0,0,1,0,65
73,2,9,g,0,1,0,0,0,0,0,1,0,0,73
74,3,9,g,0,0,1,0,0,0,0,0,1,0,74
79,8,9,i,0,1,0,0,0,0,0,1,0,0,79

,col_num,group_key,num_real,num_01,num_02,num_03,num_04,num_05,num_06,num_07,num_08,num_09,index_no
row_num,,,,,,,,,,,,,
1,2,2,2,2,2,2,2,2,2,2,2,2,2
2,1,1,1,1,1,1,1,1,1,1,1,1,1
3,2,2,2,2,2,2,2,2,2,2,2,2,2
4,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1,1,1,1,1,1
8,2,2,2,2,2,2,2,2,2,2,2,2,2
9,2,2,2,2,2,2,2,2,2,2,2,2,2

In [55]:
the_twins_df=twins_df[pd.DataFrame.duplicated(twins_df,subset=col_0_to_9,keep='last')]

In [50]:
# 找到row_num 重复的twin_df
the_index=twins_df[pd.DataFrame.duplicated(twins_df,subset=col_0_to_9,keep='first')].index

In [56]:
for index in the_index:
    ss=twins_df[twins_df[col_0_to_9]==twins_df.loc[index,col_0_to_9]]
    print

    num_01  num_02  num_03  num_04  num_05  num_06  num_07  num_08  num_09
25     0.0     0.0     0.0     1.0       0       0     1.0     0.0     0.0
26     0.0     0.0     0.0     1.0       0       0     1.0     0.0     0.0
32     0.0     0.0     0.0     NaN       0       0     1.0     0.0     NaN
33     0.0     0.0     0.0     NaN       0       0     1.0     0.0     NaN
48     0.0     NaN     NaN     NaN       0       0     NaN     0.0     0.0
49     NaN     NaN     0.0     NaN       0       0     NaN     0.0     0.0
53     NaN     0.0     0.0     1.0       0       0     NaN     0.0     0.0
54     0.0     0.0     NaN     NaN       0       0     NaN     0.0     NaN
63     0.0     0.0     NaN     NaN       0       0     NaN     0.0     NaN
65     0.0     NaN     0.0     NaN       0       0     NaN     NaN     0.0
73     NaN     0.0     0.0     NaN       0       0     1.0     0.0     0.0
74     0.0     NaN     0.0     NaN       0       0     NaN     NaN     0.0
79     NaN     0.0     0.0     NaN       0       0     1.0     0.0     0.0
    num_01  num_02  num_03  num_04  num_05  num_06  num_07  num_08  num_09
25     0.0     0.0     0.0     NaN       0       0     1.0     0.0     NaN
26     0.0     0.0     0.0     NaN       0       0     1.0     0.0     NaN
32     0.0     0.0     0.0     0.0       0       0     1.0     0.0     1.0
33     0.0     0.0     0.0     0.0       0       0     1.0     0.0     1.0
48     0.0     NaN     NaN     0.0       0       0     NaN     0.0     NaN
49     NaN     NaN     0.0     0.0       0       0     NaN     0.0     NaN
53     NaN     0.0     0.0     NaN       0       0     NaN     0.0     NaN
54     0.0     0.0     NaN     0.0       0       0     NaN     0.0     1.0
63     0.0     0.0     NaN     0.0       0       0     NaN     0.0     1.0
65     0.0     NaN     0.0     0.0       0       0     NaN     NaN     NaN
73     NaN     0.0     0.0     0.0       0       0     1.0     0.0     NaN
74     0.0     NaN     0.0     0.0       0       0     NaN     NaN     NaN
79     NaN     0.0     0.0     0.0       0       0     1.0     0.0     NaN
    num_01  num_02  num_03  num_04  num_05  num_06  num_07  num_08  num_09
25     0.0     0.0     NaN     NaN       0       0     NaN     0.0     NaN
26     0.0     0.0     NaN     NaN       0       0     NaN     0.0     NaN
32     0.0     0.0     NaN     0.0       0       0     NaN     0.0     1.0
33     0.0     0.0     NaN     0.0       0       0     NaN     0.0     1.0
48     0.0     NaN     1.0     0.0       0       0     0.0     0.0     NaN
49     NaN     NaN     NaN     0.0       0       0     0.0     0.0     NaN
53     NaN     0.0     NaN     NaN       0       0     0.0     0.0     NaN
54     0.0     0.0     1.0     0.0       0       0     0.0     0.0     1.0
63     0.0     0.0     1.0     0.0       0       0     0.0     0.0     1.0
65     0.0     NaN     NaN     0.0       0       0     0.0     NaN     NaN
73     NaN     0.0     NaN     0.0       0       0     NaN     0.0     NaN
74     0.0     NaN     NaN     0.0       0       0     0.0     NaN     NaN
79     NaN     0.0     NaN     0.0       0       0     NaN     0.0     NaN
    num_01  num_02  num_03  num_04  num_05  num_06  num_07  num_08  num_09
25     0.0     NaN     0.0     NaN       0       0     NaN     NaN     0.0
26     0.0     NaN     0.0     NaN       0       0     NaN     NaN     0.0
32     0.0     NaN     0.0     0.0       0       0     NaN     NaN     NaN
33     0.0     NaN     0.0     0.0       0       0     NaN     NaN     NaN
48     0.0     1.0     NaN     0.0       0       0     0.0     NaN     0.0
49     NaN     1.0     0.0     0.0       0       0     0.0     NaN     0.0
53     NaN     NaN     0.0     NaN       0       0     0.0     NaN     0.0
54     0.0     NaN     NaN     0.0       0       0     0.0     NaN     NaN
63     0.0     NaN     NaN     0.0       0       0     0.0     NaN     NaN
65     0.0     1.0     0.0     0.0       0       0     0.0     1.0     0.0
73     NaN     NaN     0.0     0.0       0       0     NaN     NaN     0.0
74     0.0     1.0     0.0     0.0       0       0     0.0     1.0     0.0
79     NaN     NaN     0.0     0.0       0       0     NaN     NaN     0.0
    num_01  num_02  num_03  num_04  num_05  num_06  num_07  num_08  num_09
25     NaN     0.0     0.0     NaN       0       0     1.0     0.0     0.0
26     NaN     0.0     0.0     NaN       0       0     1.0     0.0     0.0
32     NaN     0.0     0.0     0.0       0       0     1.0     0.0     NaN
33     NaN     0.0     0.0     0.0       0       0     1.0     0.0     NaN
48     NaN     NaN     NaN     0.0       0       0     NaN     0.0     0.0
49     1.0     NaN     0.0     0.0       0       0     NaN     0.0     0.0
53     1.0     0.0     0.0     NaN       0       0     NaN     0.0     0.0
54     NaN     0.0     NaN     0.0       0       0     NaN     0.0     NaN
63     NaN     0.0     NaN     0.0       0       0     NaN     0.0     NaN
65     NaN     NaN     0.0     0.0       0       0     NaN     NaN     0.0
73     1.0     0.0     0.0     0.0       0       0     1.0     0.0     0.0
74     NaN     NaN     0.0     0.0       0       0     NaN     NaN     0.0
79     1.0     0.0     0.0     0.0       0       0     1.0     0.0     0.0

In [38]:
test_df=twins_df[:1]
test_df

,row_num,col_num,group_key,num_real,num_01,num_02,num_03,num_04,num_05,num_06,num_07,num_08,num_09,index_no
25,8,3,c,0,0,0,0,1,0,0,1,0,0,25

In [41]:
twins_df[(pd.DataFrame.duplicated(twins_df,subset=col_0_to_9,keep=False))&
        ((pd.DataFrame.duplicated(twins_df,subset='row_num',keep=False))
         
        )]

,row_num,col_num,group_key,num_real,num_01,num_02,num_03,num_04,num_05,num_06,num_07,num_08,num_09,index_no
25,8,3,c,0,0,0,0,1,0,0,1,0,0,25
26,9,3,c,0,0,0,0,1,0,0,1,0,0,26
54,1,7,g,0,0,0,1,0,0,0,0,0,1,54
63,1,8,g,0,0,0,1,0,0,0,0,0,1,63
65,3,8,g,0,0,1,0,0,0,0,0,1,0,65
74,3,9,g,0,0,1,0,0,0,0,0,1,0,74
79,8,9,i,0,1,0,0,0,0,0,1,0,0,79

In [42]:
ss=twins_df.loc[32,col_0_to_9]
twins_df[twins_df==ss].dropna().index

Int64Index([], dtype='int64')

In [43]:
# 找到成对出现的twin——df
twins_df=sudoku_df[(sudoku_df[col_0_to_9].sum(axis=1)==2)&(sudoku_df['num_real']==0)][col_0_to_9]
last_index=twins_df[pd.DataFrame.duplicated(twins_df,subset=col_0_to_9,keep='last')].index

# 将互斥twin——df的index找到
twins_df_index=[]

for boy_index in last_index:
    ss=twins_df.loc[boy_index,col_0_to_9]
    add_index=twins_df[twins_df==ss].dropna().index.tolist()
    twins_df_index.append(add_index) 
    
    
twins_df_index

[[25, 26], [32, 33], [54, 63], [65, 74], [73, 79]]

In [44]:
# 确认twins——df 是否在同_row/col/group
for k in twins_df_index:

SyntaxError: unexpected EOF while parsing (<ipython-input-44-a0af0e2170b0>, line 3)